<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<%= content_tag :div, data: { controller: 'audio',
                              target: 'audio.player',
                              'audio-url': url_for(@podcast.audio) } do %>
  <div class='controls'>
    <button class='btn btn-primary' data-action='audio#play' data-target='audio.play'>Play</button>
    <button class='btn btn-primary' data-action='audio#pause' data-target='audio.pause'>Pause</button>
  </div>
<% end %>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
